# Игнорировать временные файлы
/tmp/
!/tmp/no-cache-data/

# Игнорировать файлы проекта JetBrains (например, .idea)
.idea/

# Игнорировать все файлы и папки с именем temp
/temp/*

# Игнорировать скомпилированные Python файлы
*.pyc

# Игнорировать все файлы с расширением .o и .a
*.[oa]

# Игнорировать файлы с тильдой в конце (например, временные файлы)
*~



